  <div class="d-flex" id="wrapper">

    <!-- Sidebar -->
    <div class="bg-light" id="sidebar-wrapper">
      <div class="sidebar-heading">
        <a routerLink="clientes" class="title-link">
          LARAVELUM
        </a>
      </div>
      <div class="list-group list-group-flush">
        <a routerLink="clientes" class="list-group-item list-group-item-action">
          <i class="fa fa-angle-right" aria-hidden="true"></i> Clientes
        </a>
        <a routerLink="planos" class="list-group-item list-group-item-action">
          <i class="fa fa-angle-right" aria-hidden="true"></i> Planos
        </a>
        <!--
        <a routerLink="sobre" class="list-group-item list-group-item-action">
          <i class="fa fa-angle-right" aria-hidden="true"></i> Sobre
        </a>
        -->
      </div>
    </div>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">

      <nav class="navbar navbar-expand-lg navbar-light bg-default border-bottom">
        <a class="btn" id="menu-toggle"><i class="fa fa-bars" aria-hidden="true"></i></a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      </nav>

      <div class="container-fluid">
        <router-outlet></router-outlet>
      </div>
    </div>
    <!-- /#page-content-wrapper -->

  </div>
  <!-- /#wrapper -->